.form {
  background-color: var(--mainColor);
  padding: 20px 10px;
  height: 300px;
  width: 50%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;

  .chatName {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100px;

    label{
      font-size: 18px;
      align-self: center;
    }

    #chatNameInput {
      margin-top: 30px;
      width: 300px;
      border: none;
      line-height: 25px;
      padding: 0 5px;
      font-size: 18px;
    }

    .wrongInput {
      color: #FF4444;
      font-size: 12px;
      margin-top: 3px;
      animation: fadeout ease-in 4s;

      @keyframes fadeout {
        from {
          opacity: 1;
        }
        to {
          opacity: 0;
        }
      }
    }
  }

  .button {
    font-size: 16px;
    padding: 7px 10px;
    background-color: var(--secondaryColor);
    border: none;
    border-radius: 8px;
    color: white;
    margin-top: 30px;
  }
}