

.chatInfo {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;

  .time {
    font-size: 14px;
    color: #25358C;
  }

  .chatName {
    font-weight: 700;
  }
}

.lastMessage {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;

  .sender {
    color: #25358C;
    margin-right: 5px;
  }

  .text {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    width: 100%;
  }
}