.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60px;
  padding: 7px;
  overflow: hidden;
  background-color: inherit;

  &:hover {
    background-color: #A8DEF4;
  }

  .chatInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .time {
      font-size: 14px;
      color: #25358C;
    }

    .chatName {
      font-weight: 500;
    }
  }

  .lastMessage {
    display: flex;
    flex-direction: row;

    .sender {
      color: #25358C;
      margin-right: 5px;
    }
  }
}