@use "../../design/variables" as *;  

.currentChat {
    background-color: var(--mainColor);
    height: 100%;
    width: 100%;

    .messages {
        padding: 0px 0 50px 30px;
        height: calc(100vh - 70px - 50px);
        padding-bottom: 10px;
        overflow: scroll;
        overflow-x: hidden;
        width: 100%;

        &::-webkit-scrollbar {
            width: 7px;
        }

        &::-webkit-scrollbar-track {
            margin: 3px 0;
            background-color: #256D8566;
            border-radius: 5px;
        }
            
        &::-webkit-scrollbar-thumb {
            background-color: #256D85AA;
            height: 100px;
            border-radius: 5px;
        }
    }

    .newMessageForm {
        background-color: var(--secondaryColor);
        bottom: 0;
        height: 50px;
        bottom: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .messageInput {
            height: 100%;
            width: 90%;
            font-family: inherit;
            resize: none;
            background-color: inherit;
            border: none;
            outline: none;
            color: var(--mainColor);
            padding: 5px 10px 5px 10px;
            line-height: 1.2em;
            font-size: 13px;
        }

        .button {
            margin-right: 10px;
        }
    }
}