.dialogues {
    width: inherit;
}

.chats {
    height: calc(100vh - 70px);
    display: grid;
    grid-template-columns: minmax(20%, 300px) auto;

    .chatList {
        display: flex;
        flex-direction: column;
        background-color: #C6EFFF;

        .listHeader {
            border-bottom: 1px solid #A8DEF4;
            height: 2.2em;
            display: flex;
            justify-content: center;
            align-items: center;

            .heading {
                font-weight: 500;
            }
        }

        .list {
            background-color: inherit;
        }
    }
}